
<div class="w-full ">
  <div class=" flex justify-around text-white  bg-green">
    <h3 class="my-2 py-2">
      Edit Profile
    </h3>
  </div>
  <div>
    <form {{action "editProfile" on="submit"}}  class="form" method="post">
      <label for="username">E-mail</label>
      {{input   placeholder=model.email value=email }}
      <label for="password">Surnom</label>
      {{input  placeholder=model.username value=username }}
      <label for="firstname">prénom</label>
      {{input   placeholder=model.firstname value=firstname }}
      <label for="name">Nom</label>
      {{input  placeholder=model.lastname  value=lastname }}

      {{!-- <input onChange={{action "upload"}} accept="image/png,image/jpeg" type="file"> --}}

      <button type="submit "class="formBtn">
        Edit
	     </button>
    </form>
  </div>
</div>