<div class="w-full ">
  <div class=" flex justify-around text-white  bg-green">
    <h3 class="my-2 py-2">
      Profile
    </h3>
    <button class="my-2 py-2 px-4 bg-green text-white border border-greenDarker hover:bg-greenDarker">
      {{#link-to "profile.edit"}}Edit {{/link-to }}
    </button>
  </div>
  {{#file-upload  name="avatar"
                  accept="image/*"
                  onfileadd=(action "changeProfilePicture")}}
      <img src="http://localhost:8001/static/{{session.user.avatar}}" alt="Click here to add a profile pic" class="float-left pr-4 w-200">
  {{/file-upload}}

  <div>
    <p class="profile-title pt-4">
      Prénom
    </p>
    <p class="profile-input">
      {{session.user.firstname}}
    </p>
  </div>
  <div>
    <p class="profile-title ">
      Nom de famille
    </p>
    <p class="profile-input pb-6">
      {{session.user.lastname}}
    </p>
  </div>
  <div>
    <p class="profile-title">
      Pseudo
    </p>
    <p class="profile-input">
      {{session.user.username}}
    </p>
  </div>
  <div>
    <p class="profile-title">
      E-mail
    </p>
    <p class="profile-input">
      {{session.user.email}}
    </p>
  </div>
  <div>
    <p class="profile-title">
      Profile crée le
    </p>
    <p class="profile-input">
      {{date-format session.user.created-at}}
    </p>
  </div>
  <div class="flex justify-around">
  {{input value=groupName  required=true placeholder="Group name" type="text" class="inline-block shadow appearance-none border rounded text-grey-darker  focus:outline-none focus:shadow-outline"}}
  {{#file-upload  name="document"
                  accept="application/*"
                  onfileadd=(action "registerCSV") class="bg-green text-white py-2 text-center"}}

      Inscrire une liste d'éléve
    
  {{/file-upload}}
  </div>
  <div class=" flex justify-around text-white  bg-green my-4">
    <h3 class="my-2 py-2">
      Changer de mot de passe
    </h3>
  </div>
  {{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
  {{/if}}
  <div>
    <form action="" class="form" method="post">
      <label for="oldPass">Ancien mot de passe</label>
      {{input  required=true placeholder="Old password" type="password" value=oldPass class=""}}
      <label for="newPassword">Nouveau mot de passe</label>
      {{input required=true placeholder="New password" type="password" value=newPassword class=""}}
      <label for="confirmPassword">Confirmation mot de passe</label>
      {{input required=true placeholder="New password confirmation" type="password" value=confirmPassword class=""}}
      <button {{action "changePass" }}  class="formBtn">
        Changer de mot de passe
      </button>
    </form>
  </div>
  <div class="flex justify-around text-white bg-green my-4">
      <h3 class="my-2 py-2">
          Mes groupes
      </h3>
  </div>
  <div>
    {{#each this.model as |group|}}
        <p class="text-xl py-2">- {{group.name}}</p>
    {{/each}}
  </div>
</div>
