<div class="text-green p-4 flex justify-center flex-col content-center">
    <p class="text-2xl  my-2 text center text-black">
      Vous avez obtenu :
    </p>
    <p class="text-4xl border my-2 border-green text-center ">
        {{log model}}
        {{result-count model.questions-results}}/{{tot model.questions-results}}
    </p>
    <button class="bg-green text-white my-2 p-2">
    Voir les détails
    </button>
</div>
<div>
  <div class="flex">
      {{#each this.model.questions-results as |poolQuestion index|}}
      {{#if (eq poolQuestion.question.questiontype.name "normal")}}
        <Normal-answered @question={{poolQuestion.question}}  @QPool={{poolQuestion}} id="question-{{index}}" @indexQ={{index}} idQ={{poolQuestion.id}}
                class="{{if (not-eq  index 0) "w-0 h-0"}} trans-smooth my-8 overflow-hidden"/>
      {{/if}}
      {{#if (eq poolQuestion.question.questiontype.name "qcm")}}
        <Qcm-answered @question={{poolQuestion.question}}  @QPool={{poolQuestion}} id="question-{{index}}" @indexQ={{index}} idQ={{poolQuestion.id}}
            class="{{if (not-eq  index 0) "w-0 h-0"}} trans-smooth my-8 overflow-hidden"/>
      {{/if}}
      {{#if (eq poolQuestion.question.questiontype.name "text_has_gaps")}}
        <Hole-answered @question={{poolQuestion.question}} @QPool={{poolQuestion}} id="question-{{index}}" @indexQ={{index}} idQ={{poolQuestion.id}}
              class="{{if (not-eq  index 0) "w-0 h-0"}} trans-smooth my-8 overflow-hidden"/>
      {{/if}}
      {{#if (eq poolQuestion.question.questiontype.name "math")}}
        <Math-answered @question={{poolQuestion.question}} @QPool={{poolQuestion}}  id="question-{{index}}" @indexQ={{index}} idQ={{poolQuestion.id}}
              class="{{if (not-eq  index 0) "w-0 h-0"}} trans-smooth my-8 overflow-hidden"/>
      {{/if}}
      {{#if (eq poolQuestion.question.questiontype.name "table")}}
        <Table-answered @question={{poolQuestion.question}} @QPool={{poolQuestion}}  id="question-{{index}}" @indexQ={{index}} idQ={{poolQuestion.id}}
              class="{{if (not-eq  index 0) "w-0 h-0"}} trans-smooth my-8 overflow-hidden"/>
      {{/if}}
    {{/each}}
  </div>

  <div class="border-t w-4/5 ml-1/10 flex justify-around py-8">
    <button  {{action "goLeft" }} class="text-5xl text-blue">
      &lt;
    </button>
    <p id="pageCount" class="text-3xl py-2">
      1/{{this.model.questions-results.length}}
    </p>
    <button {{action "goRight" }} class="text-5xl text-blue">
      >
    </button>
  </div>
</div>
