<div class="w-screen">
  <div class="flex  justify-between mx-1/10 w-4/5 ">
    <h2 class="py-4  font-medium">
      {{question.title}}
    </h2>
    <h2 class="font-bold w-1/5 text-2xl py-4 text-right">
      /{{question.good_answer_value}}
    </h2>
  </div>
  <form class="w-screen py-4 mx-1/10">
    <table>
      <tr>
        {{#each question.options.headers as |header|}}
          <th class="py-2">
              {{header}}
          </th>
        {{/each}}
      </tr>
      {{#each QPool.dynamicValues.rows as |row index|}}
        <tr>
            {{#each row as |value indexR|}}
              {{#if value}}
                <td class="text-center py-2">
                    {{value}}
                </td>
              {{else}}
                 {{input  required=true placeholder="Ma réponse" id=(dash-name indexQ index indexR)
             class=" mx-1/10 shadow appearance-none border rounded  py-2 w-4/5  text-center text-grey-darker leading-tight focus:outline-none focus:shadow-outline"}}  
              {{/if}}
            {{/each}}
        </tr>
      {{/each}}
    </table>
  </form>
</div>