<div class="w-screen">
  <div class="flex  justify-between mx-1/10 w-4/5 ">
    <h2 class="py-4  font-medium">
      {{question.title}}
    </h2>
    <h2 class="font-bold w-1/5 text-2xl py-4 text-right">
      {{answer-value QPool question}}/{{question.good_answer_value}}
    </h2>
  </div>
  <form class="w-screen py-4 mx-1/10">
    <table>
      <tr>
        {{#each question.options.headers as |header|}}
          <th class="py-2">
              {{header}}
          </th>
        {{/each}}
      </tr>
      {{#each QPool.answered.value as |row index|}}
        <tr>
            {{#each row as |value |}}
              {{#if value}}
                <td class="text-center py-2 {{if QPool.isCorrect "text-green" "text-red"}}">
                    {{value}}
                </td>
              {{/if}}
            {{/each}}
        </tr>
      {{/each}}
    </table>
  </form>
  {{#if (not QPool.isCorrect)}}
    <div class="w-full mx-1/10 w-4/5 text-xl py-1">
      La bonne réponse était : 
    </div>
    <div class="w-full mx-1/10 w-4/5 text-xl py-1 text-blue">
      <table>
      {{#each question.static_answer.rows as |row |}}
        <tr>
            {{#each row as |value |}}
              {{#if value}}
                <td class="text-center py-2">
                    {{value}}
                </td>
              {{/if}}
            {{/each}}
        </tr>
      {{/each}}
    </table>
    </div>
  {{/if}}
</div>