<div>
  <h3 class="text-center text-white  bg-green p-4">
    {{this.model.title}}
  </h3>
  <div class="flex flex-wrap bg-green justify-around p-4 text-white">
    {{#each this.model.questions as |question|}}
      <button class="bg-green text-white border border-white question-{{question.id}}" {{action "changeQuestion"}}>
          {{question.id}}
      </button>
    {{/each}}
  </div>
  {{#each this.model.questions as |question|}}
    {{if }}
  {{/each}}
</div>