<div>
  <h3 class="text-center text-white  bg-green p-4">
    Nouveau questionnaire
  </h3>
  <div>
    <form action="addQuizz" class="form" method="post">
      <label for="title">Titre</label>
      {{input  required=true placeholder="My awesome quizz !" value=title
               class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"}}
      <label for="group">Groupe</label>
      <select onchange={{action "setSelection" value="target.value"}}>
          <option disabled selected> -- Quizz group -- </option>
          {{#each this.model as |group|}}
            {{log group}}
              <option value={{group.id}}>{{group.name}}</option>
          {{/each}}
      </select>
      <label for="timer">Timer</label>
        <select onchange={{action "onChange" value="target.value"}}>
            <option disabled selected value="-1"> -- No time -- </option>
            <option value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="15">15 minutes</option>
            <option value="30">30 minutes</option>
            <option value="45">45 minutes</option>
            <option value="60">1 heure</option>
            <option value="120">2 heures</option>
            <option value="180">3 heures</option>
            <option value="240">4 heures</option>
        </select>
      <label for="color">Couleur</label>
      <select onchange={{action "onChangeColor" value="target.value"}}>
            <option disabled selected value="-1"> -- Pas de couleur -- </option>
            <option value="orange">orange</option>
            <option value="blue">bleu</option>
            <option value="green">vert</option>
            <option value="purple">violet</option>
      </select>
      <label for="forum" class="my-2">Forum</label>
        <select onchange={{action "onChangeForum" value="target.value" class="my-2"}}>
            <option disabled selected value="-1"> -- No Forum -- </option>
            {{#each this.forum as |forum|}}
              <option value={{forum.id}}>{{forum.title}}</option>
            {{/each}}
        </select>
      {{#if (eq currentUser.session.user.role "teacher")}}
        <div class="flex py-2">
          <label for="public" >publique</label>
          {{input type="checkbox" class="w-auto py-2 my-2 " id="public" }}
        </div>
      {{/if}}
      <button {{action "addQuizz" }}  class="block formBtn my-2">
        Créer
      </button>
    </form>
    <div class="text-red">{{errorMessage}}</div>
  </div>
</div>